.Audio {
    padding: 20px 20px;
    border-radius: 50%;
    border: 2px solid #bd58ca;
    display: inline;
    margin-bottom: 15px;
  }
  .Audio i {
    color: #5ffc05;
    font-size: 35px;
    line-height: 1.5;
  }